.tooth1 {
  width: 20px;
  height: 17px;
  border: 3px solid black;
  background: white;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  bottom: -17px;
  transform: translate(-80%, 0) rotate(4deg);
}
.tooth2 {
  width: 18px;
  height: 17px;
  border: 3px solid black;
  background: white;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  bottom: -16px;
  transform: translate(30%, 0) rotate(-4deg);
}