@import "eyes";
@import "nose";
@import "mouse";
@import "blusher";
@import "_tooth-area";
@import "tongue";

* {
  box-sizing: border-box;
}

.canvas {
  width: 100%;
  height: 400px;
  background: rgb(254, 247, 115);
  position: relative;
  overflow: hidden;

  .face-red1 {
    width: 15px;
    height: 20px;
    background: rgb(201,173,0);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-115px, -100px);
  }
  .face-red2 {
    width: 15px;
    height: 20px;
    background: rgb(201,173,0);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-145px, -45px);
  }
  .face-red3 {
    width: 23px;
    height: 27px;
    background: rgb(201,173,0);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-96px, -20px) rotate(15deg);
  }
  .face-red4 {
    width: 15px;
    height: 20px;
    background: rgb(201,173,0);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(95px, -101px);
  }
  .face-red5 {
    width: 30px;
    height: 35px;
    background: rgb(201,173,0);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(95px, -52px) rotate(15deg);
  }
  .face-red6 {
    width: 18px;
    height: 23px;
    background: rgb(201,173,0);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(46px, -15px) rotate(15deg);
  }
}